.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 50px;
  background: #0f172a;
}

.logo {
  font-size: 26px;
  font-weight: 800;
  color: #38bdf8;
  letter-spacing: 1px;
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.links a.active {
  color: #38bdf8;
}

.auth .btn {
  margin-left: 12px;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.login {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.signup {
  background: #38bdf8;
  color: #0f172a;
}